floof.zone {

    tls delta@floof.zone
    root /srv/floof.zone
    gzip

    browse /files

}

cheekibreeki.lol {

    tls cykablyat@cheekibreeki.lol
    root /srv/cheekibreeki.lol
    gzip

}

deltaryz.com {
    tls mail@deltaryz.com
    root /srv/deltaryz.com
    gzip

    browse /mixes
}

listen.deltaryz.com {
    tls mail@deltaryz.com
    gzip

    proxy / http://100.83.141.4:4533
}

mixes.deltaryz.com {
    tls mail@deltaryz.com
    root /srv/deltaryz.com/mixes
    gzip

    browse /
}

blog.deltaryz.com {
    tls mail@deltaryz.com
    root /srv/blog.deltaryz.com

    git {
        repo https://github.com/deltaryz/blog
        branch main
        interval 1200
        clone_args --depth 1
        pull_args --force
        then sh /srv/blog.deltaryz.com/update.sh
    }
}

horsecock.party {
    tls trash@horsecock.party
    root /srv/horsecock.party
    gzip
}

e669.fun {
    tls delta@floof.zone
    root /srv/e669.fun
    gzip
}

cors.e669.fun {
    tls delta@floof.zone
    proxy / http://e669.fun:8765
}

http://goty2.floof.zone {
    root /srv/goty2.floof.zone
}

eevee.email {
    tls delta@eevee.email
    proxy / http://eevee.email:25585 {
      websocket
    }
}
