### SITES

# deltaryz.com
# This won't work unless the deltaryz.com folder is owned by root:root
deltaryz.com {
    tls mail@deltaryz.com
    root /srv/deltaryz.com
    gzip

    git {
        repo https://github.com/deltaryz/deltaryz.com
        branch main
        interval 1200
        clone_args --depth 1
        pull_args --force
    }

    proxy /yt-next localhost:3000 {
        transparent
        websocket
    }
}

# blog.deltaryz.com
# This won't work unless the blog.deltaryz.com folder is owned by root:root
blog.deltaryz.com {
    tls mail@deltaryz.com
    root /srv/blog.deltaryz.com
    gzip

    git {
        repo https://github.com/deltaryz/blog
        branch main
        interval 1200
        clone_args --depth 1
        pull_args --force
        then sh /srv/blog.deltaryz.com/update.sh
    }


}

# pvfm.deltaryz.com (PVFM App)
# Be careful with this one, a google play app depends on it
# This won't work unless the pvfm.deltaryz.com folder is owned by root:root
pvfm.deltaryz.com {
    tls mail@deltaryz.com
    root /srv/pvfm.deltaryz.com
    gzip

    header / {
        Cache-Control "no-cache, no-store, must-revalidate"
        Pragma "no-cache"
        Expires "0"
    }

    git {
        repo https://github.com/deltaryz/pvfm
        branch main
        interval 1200
        clone_args --depth 1
        pull_args --force
    }
}


# floof.zone
floof.zone {
    tls mail@deltaryz.com
    root /srv/floof.zone
    gzip

    # running on atybox
    redir /files /files/ 301
    proxy /files/ http://100.111.32.61:5678 {
        without /files
    }
}

# horsecock.party (seizure warning)
horsecock.party {
    tls mail@deltaryz.com
    root /srv/horsecock.party
    gzip
}

# eevee.email
eevee.email {
    tls mail@deltaryz.com
    root /srv/floof.zone
    gzip
}



### PROXIES

# mixes.deltaryz.com (mixes archive)
mixes.deltaryz.com {
    tls mail@deltaryz.com
    gzip

    # running on atybox
    proxy / http://100.111.32.61:4567
}

# Navidrome (music server)
listen.deltaryz.com {
    tls mail@deltaryz.com
    gzip

    # running on unraid
    proxy / http://100.83.141.4:4533
}

# Jellyfin (video/media server)
watch.deltaryz.com {
    tls mail@deltaryz.com
    gzip

    # running on atybox
    proxy / http://100.103.147.17:8096 {
        transparent
        websocket
    }
}

# transfer.sh (file sharing)
share.deltaryz.com {
    tls mail@deltaryz.com
    gzip

    # running on unraid
    proxy / http://100.83.141.4:11169 {
        header_upstream Host "share.deltaryz.com"
        header_upstream X-Forwarded-Proto "https"
    }
}

# map.floof.zone (Minecraft server map)
map.floof.zone {
    tls delta@floof.zone
    gzip 

    proxy / http://100.103.147.17:8100 {
        without /
        transparent
    }
}



### REDIRECTS

# Bandcamp / deltaryz music
music.deltaryz.com {
    tls mail@deltaryz.com
    root /srv/music.deltaryz.com
    gzip
}



### MY GAMES AND INTERACTIVE DOODLES

# Game Boy Goes 2 Space / gbjam
gbjam.deltaryz.com {
    tls mail@deltaryz.com
    root /srv/gbjam.deltaryz.com
    gzip
}

# Pegasausage
pegasausage.deltaryz.com {
    tls mail@deltaryz.com
    root /srv/pegasausage.deltaryz.com
    gzip

    git {
        repo https://github.com/deltaryz/pegasausage
        branch master
        interval 1200
        clone_args --depth 1
        pull_args --force
    }
}

# arena dungeon project
arena.deltaryz.com {
    tls mail@deltaryz.com
    root /srv/arena.deltaryz.com
    gzip
}

# goty2 multiplayer dungeon server
http://goty2.deltaryz.com {
    root /srv/goty2.floof.zone
}

# Horse Power proxy (server runs in other container)
horsepower.deltaryz.com {
    tls mail@deltaryz.com

    # horsepower in docker-compose.yml
    proxy / http://horsepower:7499 {
        header_upstream Cross-Origin-Opener-Policy "same-origin"
        header_upstream Cross-Origin-Embedder-Policy "require-corp"
    }
}
