version: "3.8"
services:
  cors:
    image: testcab/cors-anywhere
    container_name: cors
    restart: always
    ports:
      - "8765:8765"
    environment:
      - PORT=8765
      - CORSANYWHERE_WHITELIST=https://e669.fun
  goty2:
    build:
      context: .
      dockerfile: Dockerfile-goty2
    container_name: goty2
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - "/home/delta/web/goty2.floof.zone:/srv"
  caddy:
    build:
      context: .
      dockerfile: Dockerfile-caddy
    # image: abiosoft/caddy:no-stats
    container_name: caddy
    restart: always
    networks:
      - reverse_proxy
    environment:
      - ACME_AGREE=true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./Caddyfile:/etc/Caddyfile"
      - "caddy_data:/root/.caddy"
      - "/home/delta/web:/srv"
      - "/home/delta/win10:/srv/floof.zone/files/os/win10"
      - "/home/delta/∆•MIX:/srv/mixes.deltaryz.com"
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - /home/delta/syncthing_config:/config
      - /home/delta/syncthing:/data1
      - /home/delta/∆•MIX:/data2
    ports:
      - 100.92.21.10:8384:8384
      - 100.92.21.10:22000:22000/tcp
      - 100.92.21.10:22000:22000/udp
      - 100.92.21.10:21027:21027/udp
    restart: unless-stopped
#  minecraft:
#    image: marctv/minecraft-papermc-server:latest
#    container_name: minecraft
#    restart: always
#    environment:
#      - PUID=1000
#      - PGID=1000
#      - MEMORYSIZE=2G
#      - PAPERMC_FLAGS=
#    ports:
#      - "25565:25565"
#      - "25575:25575"
#      - "25585:25585"
#      - "19132:19132/udp"
#    volumes:
#      - "/home/delta/game/minecraft:/data:rw"
#      - "/home/delta/game/minecraft:/opt/minecraft"
#      # - "/home/delta/game/minecraft/server.jar:/opt/minecraft/paperspigot.jar"
#    entrypoint: ["java", "-jar", "-Xms2G", "-Xmx2G", "/data/paperspigot.jar", "nogui"]
  transfer:
    image: dutchcoders/transfer.sh:latest
    container_name: transfer
    restart: always
    networks:
      reverse_proxy:
        ipv4_address: 169.169.0.8
    command: ["--provider", "local", "--basedir", "/tmp/", "--listener", ":80", "--purge-days", "30"]
    ports:
      - "80"

networks:
  reverse_proxy:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 169.169.0.0/24

volumes:
  caddy_data:
