services:

  # Caddy webserver
  caddy:
    build:
      context: .
      dockerfile: Dockerfile-caddy
    # image: abiosoft/caddy:no-stats
    container_name: caddy
    restart: always
    environment:
      - ACME_AGREE=true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./Caddyfile:/etc/Caddyfile"
      - "caddy_data:/root/.caddy"
      - "/home/delta/web:/srv"

  # Syncthing file sync daemon and webui
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    environment:
      - PUID=1002
      - PGID=1002
      - TZ=America/Los_Angeles
    volumes:
      - /home/delta/syncthing_config:/config
      - /home/delta/syncthing:/data1
    ports:
      - 100.103.133.29:8384:8384
      - 100.103.133.29:22000:22000/tcp
      - 100.103.133.29:22000:22000/udp
      - 100.103.133.29:21027:21027/udp
    restart: always

  # Server for horsepower.deltaryz.com
  horsepower:
    image: python:3.12-slim
    restart: always
    container_name: horsepower
    ports:
      - "7499:7499"
    volumes:
      - "./horsepower:/app"
    entrypoint: [ "python3", "/app/serve.py", "-p", "7499", "-r", ".", "-n" ]
    #command: python3 /app/serve.py -p 7495 -r . -n

    # Server for goty2 multiplayer dungeon
  goty2:
    build:
      context: .
      dockerfile: Dockerfile-goty2
    container_name: goty2
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - "/home/delta/web/goty2.floof.zon:/srv"

  # Deltamix youtube stream checker
  stream-update:
    build:
      context: ./stream-update
      dockerfile: Dockerfile
    container_name: stream-update
    environment:
      - YT_API_KEY=${YT_API_KEY}
    ports:
      - "3001:3000"
    restart: always

volumes:
  caddy_data:


