floof.zone {

    tls delta@floof.zone
    root /srv/floof.zone
    gzip

    browse /files

    proxy /admin 10.69.69.1:80

}

10.69.69.69:80 {
    root /srv/floof.zone

    browse /files

    # this only works because of the pihole running a reverse proxy to the router
    redir /router /router/
    proxy /router/ 10.69.69.1:6969
}

www.cameronseid.com, cameronseid.com {
    tls me@cameronseid.com {
        protocols tls1.0 tls1.2
    }

    root /srv/cameronseid.com
    gzip
    
    git {
        repo        https://github.com/deltaryz/cameronseid.com
        path        .
        interval    1800
    }
}

blog.cameronseid.com {
    tls me@cameronseid.com
    proxy / floof.zone:22222
    gzip
}

deltaryz.com {
    tls mail@deltaryz.com
    root /srv/deltaryz.com
    gzip

    browse /mixes
}

horsecock.party {
    tls trash@horsecock.party
    root /srv/horsecock.party
    gzip
}


voodoo.wtf {
    tls gigi@voodoo.wtf
    gzip
    root /srv/voodoo.wtf

    git {
      repo          https://github.com/deltaryz/voodoo.wtf
      path          .
      interval      1800
    }
}
